$nav-color-1:#0C78C9;

.logo h1{
    font-size: 50px;
    color: $nav-color-1;
}

.navmenu{
    text-align: right;
    margin-left: 50%;
    font-size: 20px;
}
.navmenu ul{
    list-style-type: none;
    display: flex;
    padding-top: 25px;
    text-align: right;
}

.navmenu ul li{
    margin-left: 10%;
}
.navmenu ul li:nth-child(2){
    color: $nav-color-1;
    font-weight: 500;
}