$form-color-1:#0c77c9d4;


.main{
    height: 100vh;
}

.main form{
    width: 60%;
    margin-left: 32%;
}

.main form label{
    font-size: 18px;
    padding: 15px 0px;
}

.main form input{
    width: 60%;
}

.main form button{
    margin-top: 45px;
    background-color: $form-color-1;
    border: none; width: 160px;
    padding: 10px 5px; margin-right: 20px;
    color: white; border-radius: 0 15px 0 15px;
}

.main form a{
    text-decoration: none;
}

.join_area{
    display: block;
    margin: 50px 0 10px 0;
    font-weight: 500; font-size: 18px; width: 80%; margin-left: 10%;
    background-color: #d5eafbd4; padding: 35px 0 20px 0; border-radius: 0 20px 0 20px;
}

.join_area div{
    background-color: #ffffffd4;
    width: 80%; margin-left: 10%;
    padding: 15px 0 1px 0; border-radius: 15px;
}

.join_area p{
    text-align: center;
}

.join_area button{
    width: 80px;
    margin: 0 5px 0 5px 0; border: none;
    background-color: $form-color-1; padding: 5px 20px 5px 20px;
    border-radius: 15px; color: white;
}

